PaymentContext.Domain/obj/Debug/net5.0/PaymentContext.Domain.assets.cache
PaymentContext.Domain/obj/Debug/net5.0/PaymentContext.Domain.csprojAssemblyReference.cache
PaymentContext.Shared/obj/Debug/net5.0/PaymentContext.Shared.assets.cache
PaymentContext.Tests/obj/Debug/net5.0/PaymentContext.Tests.assets.cache
PaymentContext.Tests/obj/Debug/net5.0/PaymentContext.Tests.csprojAssemblyReference.cache
.vscode/tasks.json
.vscode/launch.json
PaymentContext.Domain/PaymentContext.Domain.csproj
PaymentContext.Domain/obj/PaymentContext.Domain.csproj.nuget.dgspec.json
PaymentContext.Domain/obj/project.assets.json
PaymentContext.Domain/obj/project.nuget.cache
PaymentContext.Domain/obj/Debug/net5.0/PaymentContext.Domain.assets.cache
PaymentContext.Domain/obj/Debug/net5.0/PaymentContext.Domain.csprojAssemblyReference.cache
PaymentContext.Shared/PaymentContext.Shared.csproj
PaymentContext.Shared/bin/Debug/net5.0/PaymentContext.Shared.deps.json
PaymentContext.Shared/bin/Debug/net5.0/PaymentContext.Shared.dll
PaymentContext.Shared/bin/Debug/net5.0/PaymentContext.Shared.pdb
PaymentContext.Shared/bin/Debug/net5.0/ref/PaymentContext.Shared.dll
PaymentContext.Shared/obj/PaymentContext.Shared.csproj.nuget.dgspec.json
PaymentContext.Shared/obj/project.assets.json
PaymentContext.Shared/obj/project.nuget.cache
PaymentContext.Shared/obj/Debug/net5.0/PaymentContext.Shared.assets.cache
PaymentContext.Shared/obj/Debug/net5.0/PaymentContext.Shared.csproj.CoreCompileInputs.cache
PaymentContext.Shared/obj/Debug/net5.0/PaymentContext.Shared.csproj.FileListAbsolute.txt
PaymentContext.Shared/obj/Debug/net5.0/PaymentContext.Shared.csprojAssemblyReference.cache
PaymentContext.Shared/obj/Debug/net5.0/PaymentContext.Shared.dll
PaymentContext.Shared/obj/Debug/net5.0/PaymentContext.Shared.pdb
PaymentContext.Shared/obj/Debug/net5.0/ref/PaymentContext.Shared.dll
PaymentContext.Tests/obj/Debug/net5.0/PaymentContext.Tests.csprojAssemblyReference.cache
PaymentContext.Tests/obj/Debug/net5.0/PaymentContext.Tests.assets.cache
PaymentContext.Tests/obj/project.nuget.cache
PaymentContext.Tests/obj/project.assets.json
PaymentContext.Tests/obj/PaymentContext.Tests.csproj.nuget.dgspec.json
