PaymentContext.Domain/obj/Debug/net5.0/PaymentContext.Domain.assets.cache
PaymentContext.Domain/obj/Debug/net5.0/PaymentContext.Domain.csprojAssemblyReference.cache
PaymentContext.Shared/obj/Debug/net5.0/PaymentContext.Shared.assets.cache
PaymentContext.Tests/obj/Debug/net5.0/PaymentContext.Tests.assets.cache
PaymentContext.Tests/obj/Debug/net5.0/PaymentContext.Tests.csprojAssemblyReference.cache
.vscode/tasks.json
.vscode/launch.json
